.topbar {
  padding: 10px;
  background: rgba(255,255,255,.05);

  &__title {
    font-weight: 900;
    font-size: 14px;
  }

  @include desktop {
    padding: 14px 20px;

    &__title {
      font-size: 16px;
    }
  }
}